<h1>show</h1>


<div class="restaurant-container-show">

	<img class="img-show" src="/assets/unknown.png">

	<div class="restaurant-info-show">
		<h1><%= @restaurant.name %></h1>
		<p><%= @restaurant.address %></p>
		<div class="rating"><%= @restaurant.rating%></div>
		<div class="price"><%= @restaurant.price %></div>
		<div class="vegan"><%= @restaurant.vegan_friendly %></div>
		<div class="vegitarian"><%= @restaurant.vegitarian_friendly %></div>		
	</div>

</div>


